.THIS .addCol{
    padding: 0 40px 0 0;
    width: 50%;
}
.THIS .select-assesment-modal{
    width:35%;
}
.THIS .risk-factor-section{
    border:.05rem solid t(RElightGrey);
    border-radius: .2rem;
}
.THIS .select-assesment-radio .slds-form-element{
    font-size:t(RESize22);
}
.THIS .select-assesment-radio .slds-form-element .slds-radio_faux{
    height: 1.2rem;
    width: 1.2rem;
}
.THIS .addCol section{
    min-height: 5rem;
}
.THIS .clientImage{
    width:6rem;
    height: 6rem;
}
.THIS .my-resources .addCol{
    padding-right:5px;
}
.THIS .view-my-plan{
    padding-left: 25px;
    font-size: 11px;
    text-decoration: underline;
    float:right;
}
.THIS .referralCount{
    font-size: 2.5rem;
}
.THIS .referal-no{

   font-size: 2.125rem;
}
.THIS .noData{
    height:5rem;
}
.THIS .address-section{
    word-break: break-word;
}
.THIS .referrals-section{
    display:flex;
    justify-content: space-between;
}
.THIS .headingL1{
    word-break: break-word;
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .THIS .addCol{
        padding: 0;
        width: 100%;
    }
    .THIS .heading-notes, .THIS .headings-container{
        width: 100%;
    }
    .THIS .notes-grid{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .THIS .addCol{
        padding: 0;
        width: 100%;
    }
    .THIS .addCol section{
        min-height: 3rem;
    }
    .THIS .note-referral slds-button:last-child{
        margin-left:0;
        display:block;
    }
    .THIS .heading-notes, .THIS .headings-container, .THIS .notes-grid, .THIS .notes.locationtable-cont{
        width: 100%;
    }
    .THIS .locationtable-cont{
        width: 100%;
    }
    .THIS .heading-notes, .THIS .headings-container{
        width: 100%;
    }
    .THIS .notes-grid{
        width: 100%;
    }
}
.THIS .client-email{
    word-break:break-word;
}
/*@media only screen and (min-width: 1025px){
    .THIS .heading-notes, .THIS .headings-container{
        width: 94.5%;
    }
    .THIS .notes-grid{
        width: 96%;
    }
}

.THIS .notes.locationtable-cont{
    width: 98.5%;
}*/
.THIS .household-composition, .THIS .enrolled-programs, .THIS .notes-container{
    overflow-x:auto;
}
.THIS.email-resident-modal .slds-modal__container{
    width:35%;
}
.THIS .color-safe .slds-icon-text-default{
    fill: t(RESemanticGreen);
}
.THIS .color-vulnerable .slds-icon-text-default{
    fill: t(RESemanticOrange);
}
.THIS .color-atrisk .slds-icon-text-default{
    fill: t(RESemanticRed);
}
.THIS .color-na .slds-icon-text-default{
    fill: t(RECardResourceTypeGrey);
}
.THIS.risk-factors-all{
    background: t(RElightGreyOpacity);
}
.THIS .colorRed svg{
    fill: t(RESemanticRed);
 }
 .THIS .colorYellow svg{
      fill: t(RESemanticOrange);
 }
 .THIS .colorGreen svg{
     fill: t(RESemanticGreen);
 }
 .THIS .colorGrey svg{
     fill: t(RECardResourceTypeGrey);
 }
.THIS.total-row{
    min-height:2rem;
    background:t(RElightGreyOpacity);
}
@media only screen and (max-device-width:842px){
    .THIS .select-assesment-modal.slds-modal__container{
        width:85%;
    }
    .THIS.email-resident-modal .slds-modal__container{
        width:85%;
    }
    .THIS .referal-no{
        display:block;
        padding-left:0;
    }
}
.THIS .category-icon svg{
    margin-bottom: 0.1rem;
    margin-right: 0.2rem;
}
.THIS .client-detail-table .resinfo-Subhead{
    border-bottom: none;
}
