.sspText {
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 24px;
}

.ssp-question-section {
    border-bottom: 1px solid #dadee4;
}

a {
    font-size: 0.8125rem;
    letter-spacing: -0.3px;
    line-height: 30px;
    text-decoration: underline;
}