.THIS.RE_ProfileCard{
    border: 0.0625rem solid t(REGreyFieldBorder);
    border-radius: 0.25rem;
}
.THIS .checkbox-sub-txt{
    font-size:.75rem;
}
.THIS ul { 
    list-style-type: none;
}

.THIS li {
    display: inline-block;
}
.THIS li:hover{
    opacity:0.4;
}

.THIS .ProfileImage{
    width: 6rem;
    height: 6rem;
}

.THIS .slds-form-element__control .slds-checkbox__label{
    display: flex;
}
.THIS .slds-form-element__control .slds-form-element__label {
    padding-top: 0;
    line-height: 1;
}
.THIS .RE_ProfileCheckbox p{
    font-size:t(RESize10);
}

.THIS .myNeedsBlock .slds-checkbox_toggle [type="checkbox"]:checked,
.THIS .myNeedsBlock .slds-checkbox_toggle [type="checkbox"]:checked + .slds-checkbox_faux_container .slds-checkbox_faux{
    background-color: t(REPrimary);
}

.THIS .slds-button_brand {
    font-size: 1rem;
}

.THIS .RE_ProfileCheckbox .slds-checkbox_faux {
    width: 1.6875rem;
    height: 1.5625rem;
}

/* ADA Fixes */
.THIS.headingL2 {
    font-weight: 500;
}

@media all and (max-device-width : 668px) { 
    .THIS .RE_ProfileCheckbox .slds-checkbox_faux {
        width: 3.25rem;
        height: 1.5625rem;
    }
}
@media all and (max-device-width : 668px) and (orientation:portrait) {
    .THIS .RE_ProfileCheckbox .slds-checkbox_faux {
        width: 7.375rem;
        height: 1.5625rem;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For Ipad portrait layouts only */
    .THIS .RE_ProfileCheckbox .slds-checkbox_faux {
        width: 2.8125rem;
        height: 1.5625rem;
    }
}