.THIS .privacy-list {
    list-style-type: decimal;
}
.THIS .privacy-Subhead{   
    color: t(RENeutralBeta);
    font-size: 1.17em;
    font-family: 'ProductSans-Medium';
    line-height: 30px;
}
.THIS .privacy-body{   
    font-size: 12pt;
}