.ssp-explicitNoticeCard {
    border-radius: 6px;
    box-sizing: border-box;
    padding: 30px 30px 30px 24px;
    font-size: 0.8125rem;
    line-height: 18px;
    letter-spacing: 0.3px;
}

.ssp-explicitNoticeCardIcon {
    height: 24px;
    width: 24px;
}

.ssp-explicitNoticeCardBody ul {
    list-style-type: disc;
    list-style-position: inside;
}

@media only screen and (max-width: 768px) {
    .ssp-explicitNoticeCard {
        padding: 15px 24px;
    }
}