:host {
    /** make the host DOM to disappear to apply correct SLDS styles. **/ 
    display: contents;
}
.ssp-exitSaveBtn {
    padding: 0;
}

.ssp-firstGroupBtn {
    margin-right: 4%;;
}

.ssp-firstGroupBtn,
.ssp-secondGroupBtn {
    width: 48%;
}
.ssp-buttonWidth {
    max-width: 200%;
}
.ssp-button-container {
    margin-top: 100px;
}

.dd-button-container{
    margin-top: 6.25rem;
    margin-bottom: 3.75rem;
}

.dd-button-container .ssp-footerBtnNext{
    margin-bottom: 1.875rem;
}