.ssp-reps-text {
    font-size: 1rem;
    padding-left: 14%;
}
.ssp-requestConsentSection {
    font-size: 1rem;
}
.ssp-consentStatus {
    display: inline-block;
}
.ssp-consentStatus,
.ssp-verbalConsentSection h2 {
    font-size: 24px;
}
.ssp-verbalConsentSection h2 {
    margin-bottom: 12px;
}
.ssp-agreeConsentText {
    margin-bottom: 31px;
}

.ssp-add-auth-rep-program-header-text {
    font-size: 2.625rem;
    margin-top: 60px;
    margin-bottom: 10px;
}
.ssp-actionButtonsContainer {
    margin-top: 6.25rem;
    margin-bottom: 3.75rem;
}

.ssp-actionButtons .slds-button {
    height: 3.75rem;
}

.ssp-actionButtons {
    display: flex;
    flex-flow: column-reverse wrap;
}
.ssp-actionButtons .ssp-cancelButton {
    margin-top: 1.875rem;
}
a {
    text-decoration: underline;
}
a:focus {
    outline: none;
}
.ssp-sectionSeperator {
    height: 5px;
    margin: 20px 0 38px 0;
}
.ssp-learnMore_link {
    margin-right: 14px;
}
.ssp-downloadAddendum_link {
    margin-left: 14px;
}
.ssp-requestElectronicConsentBtn {
    margin-bottom: 55px;
}
.ssp-timerSection {
    margin-bottom: 40px;
    font-size: 24px;
}
.ssp-timerContainer {
    margin-bottom: 144px;
}
.ssp-requestConsentAgainBtn {
    margin-bottom: 73px;
    margin-top: 30px;
}
.ssp-consentReceived,
.ssp-consentDisagreed,
.ssp-confirmVerbalConsentBtn {
    margin-bottom: 48px;
}
.ssp-consentRecievedContainer {
    margin-bottom: 104px;
}
.ssp-consentReceived p,
.ssp-consentDisagreed p {
    margin-left: 18px;
}
.ssp-confirmVerbalConsentBtn,
.ssp-agreeConsentFooterText {
    margin-top: 48px;
}
/*userinfo*/
.ssp-add-auth-rep-program-header-text {
    font-size: 2.625rem;
}
.ssp-common-margin-top {
    margin-top: 0;
}
.ssp-auth-rep-program-form > * {
    margin-top: 15px;
}

.ssp-modalFooter {
    width: -webkit-fill-available;
}
.ssp-align-center {
    display: flex;
    align-items: center;
}
.ssp-reps-header {
    margin-bottom: 60px;
}
.ssp-reps-text {
    font-size: 1rem;
    padding-left: 14%;
}

.ssp-radioButtonContainer {
    display: flex;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.ssp-multilineRadioInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    z-index: 9;
    left: 0;
}

/* Create a custom radio button */
.ssp-multilineRadioChecked {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    /* border: 2px solid #dadee4; */
    border-radius: 50%;
    left: 0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ssp-multilineRadioChecked:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.ssp-multilineRadioInput:checked ~ .ssp-multilineRadioChecked:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.ssp-multilineRadioChecked:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.ssp-label-name {
    padding-left: 30px;
    font-size: 0.8125rem;
}
.ssp-sectionSeperator {
    height: 5px;
    margin: 19px 0 12px 0;
}
.ssp-auth-rep-program-form .ssp-auth-rep-program-info {
    font-size: 1rem;
    margin-bottom: 26px;
    margin-top: 42px;
}
.ssp-auth-rep-enter-info {
    margin: 30px 0 30px 0;
}
@media only screen and (max-width: 800px) {
    .ssp-reps-text {
        padding: 0 30px;
    }
}
.ssp-toggleFieldLabel {
    font-size: 16px;
    margin-bottom: 0.1875rem;
    word-break: break-word;
}
.ssp-search-btn {
    margin: auto;
}
.ssp-requestConsentButtonContainer{
    margin-bottom: 54px;
}
.ssp-didNotRespondContainer {
    margin-bottom: 48px;
}
.ssp-requestConsentAgainBtn {
    margin-top: 30px;
}
@media only screen and (max-device-width: 768px) {
    .ssp-reps-header {
        margin-bottom: 44px;
    }
    .ssp-reps-text {
        padding-left: 1.875rem;
    }
    .ssp-add-auth-rep-program-header-text {
        font-size: 1.5rem;
    }
    .ssp-common-margin-top {
        margin-top: 1rem;
        padding-left: 0;
    }
    .ssp-optional-field {
        width: 100%;
    }
    .ssp-gutter-right {
        padding-right: 0;
    }
    .ssp-gutter-left {
        padding-left: 0;
    }
    .ssp-search-cancel {
        margin-bottom: 15px;
    }
}

@media only screen and (min-device-width: 769px) {
    .ssp-toggle-question .ssp-applicationInputs {
        width: 100%;
    }
    .ssp-optional-field {
        width: 170px;
    }
    .ssp-buttonContainer {
        margin-top: 1rem;
    }
}
/*userinfo*/
@media only screen and (max-width: 800px) {
    .ssp-reps-text {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 768px) {
    .ssp-reps-text {
        padding-left: 1.875rem;
    }
    .ssp-add-auth-rep-program-header-text {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 769px) {
    .ssp-searchClickButton {
        width: 285px;
    }
    .ssp-actionButtons {
        flex-flow: row;
    }
    .ssp-screenFooterNextBtn {
        margin-left: auto;
        order: 2;
    }
    .ssp-actionButtons .ssp-cancelButton {
        margin-top: 0;
    }
    .ssp-actionButtonsContainer {
        margin-top: 6.25rem;
        margin-bottom: 6.25rem;
    }
}