.THIS .slds-form-element .slds-form-element__control .slds-checkbox .slds-checkbox__label .slds-checkbox_faux {
    margin-right:2rem;
}
.THIS .slds-checkbox{
    padding:.5rem 0 .5rem 0;
}
.THIS .checkbox-section .slds-form-element__legend{
    transform: translate(-0.625rem, 0px);
    color:t(REPrimary);
}
/*Modal CSS
.THIS .consent-date{
    color: t(RENeutralBeta);
    font-size: t(RESize16);
}
.THIS .name-section{
    font-size: t(RESize16);
    color:t(RECardResourceTypeGrey);
}*/
@media all and (max-width : 1023px) {  
    .THIS .client-email,.THIS .client-communication{
        padding:0;
    }
}