.THIS.footer-wrapper{
    /*color: t(white);*/
	color: white;
}
.THIS .footerMenu{
    /*background: t(seaGreen);*/
	background: #2E8B57;
}
.THIS .footerPolicy{
    /*background: t(darkGreen);*/
	background: #013220;
}