.THIS .slds-form-element__label.lab {
    color: t(REPageHeading);
    font-size: .875rem;
}
.THIS .to-info-icon{
    position: relative;
    top: 0.125rem;
    left: -0.1875rem;
}
.THIS .to-asterix{
    color:t(RESemanticRed)
}
.THIS.showResourceModal section:focus{
    outline:none;
}
.THIS .headingContainerShareResource{
    border-bottom: 0.0625rem solid t(REGreyFieldBorder);
    margin: 0 0 1rem 0;
}
.THIS .resourceName.headingBlueL2 {
    border: none;
    color: t(RENeutralBeta);
}
.THIS .iframe-captcha{
    height:40rem !important;
}
.THIS .iframe-captcha iframe{
    height:40rem !important;
}