.THIS.toggle {
    display: none;
}
.THIS .domain-col{
    position: relative;
}
.THIS .REcard{
    border:0.0625rem solid t(REGreyFieldBorder);
    height: 7.5rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.2rem 0 t(RECardShadow);
}
.THIS .REcard:hover, .THIS .activeDomain{
    background-color: t(RENavActiveBG);
    box-shadow: 0 0.125rem 0.25rem 0 t(REGreyFieldBorder);
}
.THIS .REcard img{
    width: 53px;
    height: auto;
}
.THIS .RE_SVG svg{
    fill:t(REPrimary);
}
.THIS .domain-image{
    min-height: 4.375rem;
}

.THIS div.ChevronIcon {
    width: 0;
    height: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 0.9375rem solid t(REGreyFieldBorder);
    position: relative;
    left: 5rem;
}
.THIS div.ChevronIcon1 {
    width: calc(1.25rem + .0625rem);
    height: calc(1.25rem + .0625rem);
    transform: rotate(45deg);
    border-top: 1px solid t(RECardChevron);
    border-left: 1px solid t(RECardChevron);
    background: t(REWhite);
    position: absolute;
    left: 45%;
    right: 40%;
    bottom: -1.6rem;
    z-index: 99;
}
.THIS div.ChevronIcon2 {
    width: 0;
    height: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 1rem solid t(REGreyFieldBorder);
    position: relative;   
}
.THIS .triangle-up{
    display:none;
}
.THIS .category-container{
    box-shadow: 0 8px 6px -6px t(REGreyFieldBorder);
    border-radius: 5px;
}
.THIS .domainCategories{
    position: absolute;
    width: 88.3%;
    left: 4.5rem;
    z-index: 1;
}
.THIS .parentContainer::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 1rem solid t(REGreyFieldBorder);
    position: absolute;
    left: 9rem;
    bottom: 45.4rem;
}
@media screen and (max-width: 1280px) {
    .THIS .domainCategories{
        width: 79.5%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .THIS .domainCategories{
    	width: 84.2%;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 767px) {
    .THIS{
        position: relative;
    }
    .THIS .REcard{
        height: auto;
        padding: 0 0 0.875rem 0;
    }
    .THIS .REcard img{
        width: 28px;
    }
    .THIS .domain-image{
        min-height: auto;
    }
    .THIS .headingL2.domain-category{
        margin-top: 0.2rem;
    }
    .THIS .domainCategories{
        width: 96.6%;
        left: 0;
    }
}
@media screen and (min-device-width : 375px) and (max-device-width: 667px) and (orientation : portrait) {
    .THIS .domainCategories{
        width: 93.5%;
        left: 0;
    }
}