.THIS{
    min-height:calc(100vh - 7.5rem);
}
.THIS .suggest-edit-text{
    padding: 0 11%;
}
.THIS .unsaved-changes-modal{
    width:35%;
}
.THIS .suggestion-category .slds-form-element__label:before{
   content:'*'; 
   color:t(RESemanticRed);
}
/********Mobile**********/
@media screen and (max-device-width: 767px) {
    .THIS .headingButton{
        padding:0 0 .75rem 0;
    }
}
/*Media Query for iPhone 6+/7+/8+ (Landscape)*/ 
@media screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3) and (orientation : landscape){
    .THIS{
        padding-top: 3rem;
    }
}
/*Media Query for iPhone XR (Landscape)*/ 
@media only screen and (min-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){
    .THIS{
        padding-top: 3rem;
    }
}