.THIS .addlang-button svg.slds-icon.slds-icon-text-default{
    width: 0.875rem;
    height: 0.875rem;
}
.THIS .pillAdd{
    width: 1.375rem;
}
.THIS.pill-selector-generic{
    display: contents;
}
.THIS #plus-icon{
    display: inline;
}

.THIS .display-none{
    display:none;
}

.THIS ul#search-options li{
    padding:0;
}