.THIS.menu-container{
    border-top:1px solid t(REGreyFieldBorder);
    height:40vh;
    overflow:auto;
    opacity:0.95;
}
.THIS .search-menu-ul {
    width:18.75rem;
}
.THIS .search-menu-ul-level-one{
    position:relative;
}
.THIS .search-menu-ul-level-one > li:after,.THIS .search-menu-ul-level-one > li:focus{
    content: 'â¯';
    font-size: t(RESize13);
    transform: translate(0,0.1875rem);
    color:t(RENeutralBeta);
}
.THIS .search-menu-ul li:hover:after,.THIS .search-menu-ul li:focus:after{
    color:t(REPrimary);
}
.THIS .search-menu-ul li{
    display: flex;
    justify-content: space-between;
    cursor:pointer;
    width:18.75rem;
    border-bottom:0.0625rem solid t(REGreyFieldBorder);
}
.THIS .search-menu-ul-level-one{
    box-shadow: -16.5rem 0 0 0 t(RElightGrey);
}
.THIS .search-menu-ul-level-one > li{
    background-color:t(RElightGrey);
}
.THIS .search-menu-ul-level-one > li:hover,.THIS .search-menu-ul-level-one > li:focus{
    background-color:t(RECmpBackground);
}
.THIS li > .search-menu-ul{
    position:absolute;
    top:0;
    left:100%;
    display:none;
}
.THIS li:hover > .search-menu-ul{
    display:block;
}

.THIS li:focus{
    outline:none;
}
.THIS li:focus-within > .search-menu-ul{
    display:block;
}
.THIS .search-menu-ul li:hover,.THIS .search-menu-ul li:focus{
    color:t(REPrimary);
}
/*Mobile Classes*/
.THIS.mobile-menu .search-menu-ul,.THIS.mobile-menu .search-menu-ul li{
    width:100%;
}