.THIS .slds-radio [type=radio]:checked+.slds-radio_faux:after,.THIS .slds-radio [type=radio]:checked+.slds-radio--faux:after,.THIS .slds-radio [type=radio]:checked~.slds-radio_faux:after,.THIS .slds-radio [type=radio]:checked~.slds-radio--faux:after,.THIS .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux:after,.THIS .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio--faux:after{
    /*width: 1.5rem;
    height: 1.5rem;
    background:t(RESliderThumb);
    box-shadow: 0 0.125rem 0.25rem 0 t(REPageHeading);*/
    width: 0.4rem;
    height: 0.4rem;
    background:t(RENeutralBeta);
}
.THIS .assessment-txt{
    font-size:t(RESize18);
    color:t(REPageHeading);
}
.THIS .slds-radio_faux:after{
    background:t(RECmpBackground);
}
.THIS .required-class input{ 
    border-color: t(RESemanticRed);
} 
.THIS .slds-radio_faux{
    /*background-color: t(REGreyFieldBorder);
    border:none;*/
    border:1px solid t(RENeutralBeta);
}
.THIS .slds-radio_faux{
    width: 1rem;
    height: 1rem;
    cursor:pointer;
}
.THIS .track{
    height: 0.375rem;
    background-color:t(RESliderTrack);
    width: 100%;
    position: relative;
    top: -1.3rem;
}
.THIS .options .slds-form-element:focus{ 
    outline:none;
}
/*.THIS .options{
    text-align: center; 
    position:relative;
    z-index:99;
    flex:1;
} 
.THIS .slds-form-element__control{
    display:flex;
    padding-top: 3rem;
}
.THIS .slds-radio{
    flex:1;
}
.THIS .slds-radio__label .slds-form-element__label{
    display:block;
    font-size:t(RESize18);
    color:t(RESliderLabel);
    height:0;
    padding-top: 0;
}*/
.THIS .slds-form-element .slds-form-element__legend, .THIS .question{
    /*padding-top: 0.4375rem;*/
    padding: .4375rem 0 0.8rem 0;
    /*color:t(RESecondaryGamma);*/
    color:t(REResourceDarkBlue);
    font-size:t(RESize20);
    font-weight: normal;
    font-family: 'ProductSans-Medium';
    text-align:left;
}
/*.THIS .question-number{
    border: 0.25rem solid t(RElightGrey);
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 50%;
    padding-top: 0.125rem;
}*/
.THIS meter{
    width:100%;
}
.THIS meter::-webkit-meter-optimum-value {
    background: t(REPrimary);
    border-radius:0.5rem;
}
.THIS meter::-webkit-meter-bar{
    background:t(RElightGreyOpacity);
    border-radius:0.5rem;
}
.THIS .user-icon{
    transform: translate(0,-.25rem);
}
.THIS .incomplete-assessment{
    width:35%;
}
.THIS .assessment-btn-section{
    font-size:t(RESize16);
}
.THIS .client-name{
    font-size:t(RESize16);
}
.THIS .headingButton .slds-button{
    font-size:t(RESize16);
}
/******New CSS*******/
/*.THIS .slds-form-element__legend + .slds-form-element__control{
    padding: 0 2rem 0 2rem;
}*/
.THIS .google-typeahead .slds-input.slds-combobox__input, .THIS .google-typeahead input{
    border-width: 2px;
    border-radius: 8px;
    padding: 4px 10px 4px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .label-left{
    margin-right: 29%;
}
.THIS .google-typeahead input::placeholder{
    font-style: italic;
    padding-left: 35%;
}
.THIS .google-typeahead.guest-user input::placeholder{
    padding-left: 40%;
}
.THIS .question-text{
    color:t(REResourceDarkBlue);
    font-size: 1.25rem;
    font-weight: normal;
    font-family: 'ProductSans-Medium';
    text-align: left;
}
.THIS .slds-icon_container.slds-input__icon,.THIS .slds-button_icon.slds-input__icon{
    left: 64%;
    top: 1.2rem;
}
.THIS .slds-radio .slds-radio__label .slds-form-element__label{
    color:t(RENeutralBeta);
    font-size:t(RESize16);
    display: block;
    margin-top: -25px;
    margin-left: 28px;
}
.THIS .slds-radio{
    padding-bottom:10px;
}
.THIS .assessment-txt-input .slds-form-element__label{
    color:t(REResourceDarkBlue);
    font-size:t(RESize20);
    font-weight: normal;
    font-family: 'ProductSans-Medium';
    margin-bottom: 10px;
}
.THIS .google-typeahead input,.THIS .google-typeahead .slds-listbox{
    width: 34%;
}
.THIS .assessment-txt-input .question{
    text-align:center;
}
.THIS .question-number{
    font-size:t(RESize20);
    font-family: 'ProductSans-Medium';
    margin-top:1.3rem;
    margin-top: .45rem;
}
.THIS .question-txt-field{
   text-align:center;
   font-size:t(RESize22);
}
.THIS .address-email-input .slds-input{
    border-width: 2px;
    border-radius: 8px;
    padding: 4px 10px 4px 10px; 
    width:34%;
}
.THIS .address-email-input .slds-form-element__label{
    font-family: unset;
    font-size: 1rem;
    margin-bottom: 4px;
}
/*Mobile Classes*/
@media only screen and (max-device-width:896px) and (orientation : portrait){
    .THIS .google-typeahead input,.THIS .google-typeahead .slds-listbox,.THIS .address-email-input .slds-input{
        width:100%;
    }
    .THIS .slds-icon_container.slds-input__icon,.THIS .slds-button_icon.slds-input__icon{
        left: 90%;
        top: 1rem;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation:portrait) {
    .THIS .google-typeahead input,.THIS .google-typeahead .slds-listbox,.THIS .address-email-input .slds-input{
        width: 61%;
    }
    .THIS .slds-icon_container.slds-input__icon,.THIS .slds-button_icon.slds-input__icon{
        left: 76%;
    }
}
@media only screen and (max-device-width:896px) and (orientation : landscape){
    .THIS .google-typeahead input,.THIS .google-typeahead .slds-listbox,.THIS .address-email-input .slds-input{
        width:50%;
    }
    .THIS .slds-icon_container.slds-input__icon,.THIS .slds-button_icon.slds-input__icon{
        left: 70%;
        top: 1rem;
    }
}
@media only screen and (max-device-width:896px){
    .THIS .incomplete-assessment{
        width:85%;
    }
    /*.THIS{
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }*/
    .THIS .assessment-btn-section{
        text-align:center;
    }

    .THIS .assessment-btn-section buttton:first-child{
        margin-bottom: 0 0 0.5rem 0;
    }

    .THIS .headingButton{
        padding:0 0 .75rem 0;
    }
    .THIS .container{
        padding: 1.5rem 0 0 0;
    }
    .THIS .question-number-section{
        padding-right:0;
        text-align:center;
    }
    .THIS .slds-radio__label .slds-form-element__label{
        font-size:t(RESize13);
    }
    .THIS .track{
         top: -5.2rem;
    }
    .THIS .slds-form-element .slds-form-element__legend{
        display: block;
        width: 100%;
    }
}
.THIS .question-container{
    min-height: 22rem;
}

.THIS .results-section{
    padding: 3rem 3rem 0 3rem;
}