.THIS .pillSize{
    width:100%;
}
.THIS .slds-lookup__menu {
    padding:0;
    color:t(RESecondaryGamma);
}
.THIS .slds-pill__action{
    border: none;
    color: t(RESecondaryGamma);
}
.THIS .slds-pill__action:hover{
    background-color: t(REWhite);
    color: t(RESecondaryGamma);
    border:none;
    box-shadow:unset;
}
.THIS .slds-pill__action:hover+.slds-pill__remove.slds-button_icon-bare{
    color:t(RENeutralBeta);
}
.THIS .slds-pill{
    margin:0;
    padding: 5px 0px 5px 5px;
}
.THIS .lookup-container .uiInput--input .input,.THIS .lookup-container .uiInput--input.input{
    min-height: unset; 
}
.THIS .slds-pill-container{
    padding:0;
}
.THIS .custom-lookup-results{
    margin-top:0;
    position: relative;
}
.THIS .haserror {
    border-color: t(RESemanticRed);
    border-width: 2px;
}
.THIS .slds-pill__icon_container{
    display: none;
}
.THIS .slds-button.slds-button_icon.slds-pill__remove.slds-button_icon-bare{
    top: 0;
}