.THIS .linechart-canvas {
    width:100% !important;
    height:100% !important;
}
.THIS .graph-expanded{
    position:fixed;
    top:63px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:t(REWhite);
    z-index:2;
    padding: 15px 0 30px 0;
}
.THIS .collapse-icon{
    display:none;
}
.THIS .expand-icon{
    position: absolute;
    right: 30px;
    top: 16px;
}
.THIS .expand-icon,.THIS .collapse-icon{
    cursor:pointer;
}
.THIS .graph-expanded .expand-icon{
    display:none;
}
.THIS .graph-expanded .collapse-icon{
    display:block;
    position: absolute;
    right: 17px;
    top: 24px;
}
.THIS .linechart-canvas .graph-expanded{
   margin-top:1rem; 
}
.THIS .chart-legend{
    color: t(REResourceDarkBlue);
    font-size:18px;
    display:inline-block;
}
@media all and (max-width : 1023px) {
    .THIS .graph-expanded{
       top:0; 
    }
    .THIS .chart-legend{
       margin-left: 0;
    }
}