.THIS .slds-icon{
    fill: t(REPrimary);
    width: 1rem;
    height: 1rem;
}
.THIS .confirmorg-image{
    width:100%;
}
.THIS .slds-button_icon{
    color: t(REPrimary);
    box-shadow: none;
    border:none;
}
.THIS .slds-radio{
    margin-top: 2%;
}
.THIS .registerBtnCon{
    padding: 0 0 0 0;
}
.THIS .radioHelpText .slds-form-element__icon{
    position: absolute;
    left: 15.8rem;
    top: 0.3rem;
}
.THIS .radioGroups {
    position: relative;
}
/* Portrait and Landscape */
@media all and (max-width : 768px) {
    .THIS .radioGroups{
        padding: 0;
    }
}
.THIS{
    min-height:32.1rem;
}