.ssp-content {
    font-size: 1rem;
    line-height: 24px;
}

.ssp-cbBoxBorder {
    border-top: 0;
    position: relative;
    bottom: 16px;
    padding: 30px;
    border-radius: 0 0 6px 6px;
}

.ssp-errorMessage {
    font-size: 0.75rem;
    margin-top: 0.125rem;
    background: transparent;
}

@media only screen and (max-width: 768px) {
    .ssp-cbBoxBorder {
        padding: 24px;
    }
}