.THIS .getStartedButton{
    margin: 2.5rem 0 0 0;
}
.THIS .getStartedButton .slds-button{
    padding: 0 2.5rem;
}
.THIS .getstarted-image{
    width:100%;
}
@media screen and (max-device-width: 767px) {
    .THIS .getStartedButton{
        margin: 1rem 0 0 0;
    }
}
.THIS .iframClass{
    width: 96%;    
    height: 15rem;
    z-index: 2;
    border: none;
}
.THIS .video-expanded .iframClass{
    position: fixed;
    top: 7%;
    width: 100%;
    height:calc(100vh - 4rem);
    left: 0;
}
.THIS .expand-icon{
    position: absolute;
    top: 0.5rem;
    right: 1.7rem;
    z-index: 2;
    background-color:t(REBlack); 
    cursor:pointer;
}
.THIS .expand-icon svg{
    fill:t(REWhite);
}
.THIS .video-modal-close{
    position: relative;
    top: 1rem;
    left: 97%;
    cursor:pointer;
}
.THIS .font-bold{
    font-weight: bolder;
}
.THIS .video-expanded{
    background: t(REBlack);
}
.THIS .slds-assistive-text{
    color: t(REDove);
}