.ssp-headerText {
    font-size: 42px;
    letter-spacing: 0;
    line-height: 48px;
}
.ssp-headerBetaText {
    font-size: 13px;
    letter-spacing: -0.3px;
    line-height: 30px;
}
.ssp-horizontalLine {
    height: 5px;
    /* width: 315px; */
    border-radius: 2.5px;
}
.ssp-infoText {
    font-size: 1rem;
    letter-spacing: -0.0187rem;
    line-height: 1.5rem;
}

.ssp-action-btn-section {
    margin-top: 4rem;
}
.ssp-action-btn-section .ssp-cancel-btn {
    padding-right: 12px;
}
.ssp-action-btn-section .ssp-next-btn {
    padding-left: 12px;
}
.ssp-exitSaveBtn {
    width: 100%;
    margin: 0 0 15px 0;
    display: block;
    justify-content: center;
}
.ssp-cancelBtn {
    width: 100%;
    margin: 0 0 14px 0;
    display: block;
    justify-content: center;
}
.ssp-programCheckboxLabel{
    font-size: 1rem;
    margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
    .ssp-headerText {
        font-size: 24px;
        letter-spacing: 0;
        line-height: 32px;
        font-weight: 900;
    }
    .ssp-action-btn-section .ssp-cancel-btn {
        padding-right: 0;
    }
    .ssp-action-btn-section .ssp-next-btn {
        padding-left: 0;
    }
    .ssp-buttonWidth {
        width: 100%;
        margin-bottom: 15px;
    }
    .ssp-buttonText {
        text-align: center;
    }
}