@font-face {
  font-family: "Poppins-Regular";
  src: url("/s/sfsites/c/resource/SSP_Fonts/poppins/Poppins-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Poppins-Black1";
  src: url("/s/sfsites/c/resource/SSP_Fonts/poppins/Poppins-Black.woff")
    format("woff");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/s/sfsites/c/resource/SSP_Fonts/poppins/Poppins-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Arvo-Regular";
  src: url("/s/sfsites/c/resource/SSP_Fonts/arvo/Arvo-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Arvo-Bold";
  src: url("/s/sfsites/c/resource/SSP_Fonts/arvo/Arvo-Bold.woff") format("woff");
}
