.THIS .panel-section > div{
    padding:0 .25rem 0 .25rem;
}
.THIS .related-resource-panel {
    height: 9.5rem;
    border: 0.0625rem solid t(REGreyFieldBorder);
    background-color: t(REWhite);
    position:relative;
}
/*.THIS .card-category{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.THIS .card-miles{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */
.THIS .panel-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.THIS .category-icon{
    transform:translate(0,-0.125rem);
}
.THIS .panel-btn-section{
    position: absolute;
    bottom: .75rem;;
    right: 1rem;
}
.THIS .thunder-icon svg{
    fill:t(REPrimary);
}
.THIS .carouselNxtPrv, .THIS .carouselNxtPrv:hover, .THIS .carouselNxtPrv:focus{
    border: 0;
    box-shadow: none;
    cursor: pointer;
}
.THIS .load-spinner{
    height:9.5rem;
}
.THIS .search-spinner{
    position: fixed;
}