.THIS .file-upload{
    width: 12.1875rem;
    height: 12.1875rem;
}
.THIS .uploaded-docs{
    font-size:t(RESize16);
    color:t(REResourceDarkBlue);
}
.THIS .lang-pills-sec .slds-lookup__search-input{
    margin-top:0.625rem;
}
.THIS .lang-pills-sec .addlang-button{
   margin-left:0px;
   padding: 0px;
   width: 1.5rem;
}
.THIS .lang-pills-sec ul li{
    background-color:t(REWhite);
    padding: 0.3125rem;
}
.THIS .lang-pills-sec ul li:hover{
    background-color:t(RECmpBackground);
}
.THIS .lang-pills-sec ul li:last-child{
    border-bottom:1px solid t(REGreyFieldBorder);
}
.THIS .lang-pills-sec ul{
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color:t(REGreyFieldBorder);
    box-shadow: 0px 0.1875rem 0.5625rem 0.125rem t(REGreyFieldBorder);
}
.THIS .lang-pills-sec .slds-button svg{
    height:0.9375rem;
    width:0.8125rem;
}
/*.THIS .announcment .slds-form-element__label{
    display: none;
}*/
.THIS .displayann-label{
    margin-right:0.3125rem;
}
.THIS .announcement .slds-checkbox .slds-checkbox__label .slds-checkbox_faux{
    margin-right:0px;
}
/* Location Link */
.THIS a.locdetail-address{
    font-size: t(RESize16);
    line-height: t(RESize20);
    text-decoration: underline;
}
.THIS .hours-of-operation-table {
    overflow-x: auto;
}

.THIS .table-caption {
    display: none;
}
.THIS .slds-textarea[readonly],.THIS .slds-select[disabled],.THIS [role=combobox] input[readonly]{
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    box-shadow:none;
}
.THIS .slds-textarea[readonly]{
    resize: none;
}
.THIS .select-disabled .slds-select_container:after{
    border:none;
}
.THIS .available-lang-sec{
    padding-top: 6px;
    margin-top:3rem;
}
.THIS .doc-upload-title{
    margin-top: 2.3rem;
}
@media all and (max-width : 896px) {
    .THIS .available-lang-sec{
        padding-top:0;
        margin-top:0;
    }
    .THIS .locdetails-first-col {
    	padding-right: 0;
	} 
   .THIS .locdetails-second-col {
    	padding-left: 0;
        padding-top: 0;
	} 
}