.THIS .container {
    display: block;
    position: relative;
}
.THIS.archetypeFilter .slds-form-element__control .slds-checkbox__label{
    display: flex;
    margin-bottom: 0.5rem;
}
.THIS.archetypeFilter .slds-form-element__control .slds-form-element__label {
    padding-top: 0;
    line-height: 1;
}
.THIS.archetypeFilter .slds-form-element__control .slds-radio__label{
    display: flex;
    margin-bottom: 0.5rem;
}
.THIS .slds-form-element .slds-form-element__label{
    margin: 0 0 0.5rem 0;
}
/********Mobile**********/
@media screen and (max-device-width: 767px) {
    .THIS .archetype-filter-btn-section{
        border-bottom:0.0625rem solid t(REGreyFieldBorder);
        margin-top: 10px;
    } 
}
/*Media Query for iPhone X (Landscape)*/
@media only screen and (min-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){
    .THIS .archetype-filter-btn-section{
        border-bottom:0.0625rem solid t(REGreyFieldBorder);
    }     
}
/*Media Query for iPhone XR (Landscape)*/ 
@media only screen and (min-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){
    .THIS .archetype-filter-btn-section{
        border-bottom:0.0625rem solid t(REGreyFieldBorder);
    }     
}