.ssp-info_fontSize {
  font-size: 1rem;
}
.ssp-learnMore {
  font-size: 0.8125rem;
}
.ssp-learnMore:hover {
  text-decoration: none;
}
.ssp-existingSection {
  width: 770px;
  margin: 1.5rem auto;
}
.ssp-income-list {
  margin-bottom: 100px;
}
.ssp-break-word {
  word-break: break-word;
}
a:focus {
  outline: none;
}
@media only screen and (max-width: 428px) {
    .ssp-wordBreak {
        word-break: break-all;
    }
}
@media only screen and (max-width: 768px) {
  .ssp-existingSection {
    width: 100%;
    margin: unset;
    padding: 30px;
  }
}
