.THIS .container {
    display: block;
    position: relative;
}
.THIS.categoryFilter .slds-form-element__control .slds-checkbox__label{
    display: flex;
    margin-bottom: 0.5rem;
}
.THIS.categoryFilter .slds-form-element__control .slds-form-element__label {
    padding-top: 0;
    line-height: 1;
}
.THIS.categoryFilter .slds-form-element__control .slds-radio__label{
    display: flex;
    margin-bottom: 0.5rem;
}
.THIS .slds-form-element .slds-form-element__label{
    margin: 0 0 0.5rem 0;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){
    .THIS.categoryFilter .zipcode {
        width: 35%;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For Ipad portrait layouts only */
    .THIS.categoryFilter .zipcode {
        width: 35%;
    }
}