.ssp-infoText {
    font-size: 1rem;
    letter-spacing: -0.0187rem;
    line-height: 1.5rem;
}

.ssp-input-container {
    align-items: baseline;
}

.ssp-inputFieldLarge {
    width: 45%;
}

.ssp-inputFieldSmall {
    width: 30%;
}
.ssp-tempPadding {
    padding-left: 4%;
}
.ssp-BottomPadding {
    padding-bottom: 45px;
}

.ssp-phoneNumber {
    width: 45%;
}
.ssp-extOptional {
    width: 30%;
    padding-left: 4%;
    padding-top: 0.1875rem;
}

.ssp-dropDownSpokenLang {
    width: 45%;
}
.ssp-dropDownWrittenLang {
    width: 45%;
    padding-left: 4%;
}
.ssp-checkBoxPrefferedContactMethod {
    width: 100%;
}
.ssp-componentWidth {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .ssp-inputFieldLarge {
        width: 100%;
        padding: 0px;
    }
    .ssp-inputFieldSmall {
        width: 100%;
        padding: 0px;
    }
    .ssp-extOptional {
        width: 40%;
        padding-left: 6%;
        padding-top: 0.1875rem;
    }
    .ssp-phoneNumber {
        width: 60%;
    }
    .ssp-tempPadding {
        padding: 0;
    }
    .ssp-dropDownSpokenLang {
        width: 100%;
    }
    .ssp-dropDownWrittenLang {
        width: 100%;
        padding-left: 0;
    }
    .ssp-componentWidth {
        width: 100%;
    }
}

@media only screen and (max-width: 345px) {
    .ssp-phoneNumber {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0.9375rem;
    }
    .ssp-extOptional {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
}