.ssp-marginTopFifteen {
    margin-top: 0.9375rem;
}

.ssp-marginBottomThirty {
    margin-bottom: 1.875rem;
}

.ssp-marginTopThirty {
    margin-top: 1.875rem;
}

.ssp-preferredPaymentMainContainer {
    margin-bottom: 6.25rem;
}

.ssp-preferredPaymentLearnText {
    font-size: 0.8125rem;
    margin-top: 0.3125rem;
    letter-spacing: -0.3px;
    line-height: 1.875rem;
    text-decoration: underline;
    text-underline-position: under;
}

.ssp-preferredPaymentHr {
    height: 0.3125rem;
    border-radius: 2.5px;
}

.ssp-preferredPaymentIndividualContainer {
    margin: 1.875rem auto;
}

.ssp-preferredPaymentpolicyHolderText {
    line-height: 1.875rem;
    letter-spacing: 0.3px;
}

.ssp-preferredPaymentDesc {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.3px;
    text-align: left;
    margin: 1.875rem 0;
}

.ssp-preferredPaymentPolicyText,
.ssp-preferredPaymentAddressText {
    font-size: 1rem;
}

.ssp-preferredPaymentCard {
    max-width: 23.125rem;
}

.ssp-checkAccountNumber {
    margin-left: 0.9375rem;
}

.ssp-preferredPaymentError {
    font-size: 0.75rem;
}

@media only screen and (max-width: 768px) {
    .ssp-checkAccountNumber {
        margin-left: 0;
    }
}