.ssp-gutter-right {
    padding-right: 15px;
}

.ssp-gutter-left {
    padding-left: 15px;
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .ssp-gutter-right {
        padding-right: 0;
    }

    .ssp-gutter-left {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .ssp-gutter-right {
        padding-right: 0;
    }

    .ssp-gutter-left {
        padding-left: 0;
    }
}

.error-message {
    color: rgb(194, 57, 52);
    font-size: 0.75rem;
    margin-top: 0.125rem;
    background: transparent;
    font-family: Lato;
}