.THIS.categoryListing{
    /*background-color: t(RElightGrey); 
    box-shadow: 0 0.125rem 0.25rem 0 t(REGreyFieldBorder);*/
    border: 1px solid t(REGreyFieldBorder);
    border-radius: 5px;
    background-color: t(REWhite);
}
.THIS ul li.FirstItem{
    font-size:t(RESize22);
}
.THIS ul li a:hover{
    text-decoration:underline;
}
.THIS .subCategory{
    font-size: t(RESize18);
    padding: 0.3rem 0;
}