.ssp-racSubHeader{
    vertical-align: sub;
}

.ssp-checkboxLabels {
    font-size: 0.813rem;
}

.ssp-helptextIcon {
    margin-left: 0.313rem;
    vertical-align: text-bottom;
}

.ssp-resourceLabel1 {
    vertical-align: sub;
}