.ssp-resourceDetailsHeaderText,
.ssp-complete-questions {
    font-size: 1rem;
}

.ssp-remove-coverage-footer {
    padding-top: 1.15rem;
}

.ssp-removeCoverageTopMarginThirty {
    margin-top: 1.875rem;
}

.ssp-removeCoverageMarginTopFifteen {
    margin-top: 0.9375rem;
}