.ssp-accordion {
    border-radius: 6px;
}

.ssp-accordionButton {
    background: none;
    padding: 30px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.ssp-accordionButton:focus {
    outline: none;
}

.ssp-accordionIcon {
    height: 24px;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.ssp-accordionPanel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
    border-radius: 6px;
    padding: 0px 30px;
    display: none;
}

@media only screen and (max-width: 768px) {
    .ssp-accordionPanel {
        padding: 0px 24px;
    }
}