.THIS .organization-name{
    font-family:'ProductSans-Medium';
}
.THIS .org-address-section{
    border:0.0625rem solid t(REGreyFieldBorder);
    border-radius:0.1875rem;
}
.THIS .org-radiogroup-section .slds-form-element__legend{
    margin-bottom: .5rem;
}
.THIS .terms-n-conditions{
    font-size: 0.6rem;
}
.THIS .terms-n-conditions a{
    text-decoration:underline;
}
.THIS .terms{
    font-family:'ProductSans-Medium';
}
.THIS .can-find-org{
    font-size: t(RESize22);
    line-height: t(RESize20);
}
@media only screen and (max-width:65em){
    .THIS .slds-modal__content{
        width: 100%;
        margin-left:0;
        overflow:scroll;
        border: 0.032rem t(REResourceGrey) solid;
    }
    .THIS .org-role-column-section{
        padding-left:0;
        padding-right: 1.5rem;
    }
    .THIS .org-share-text{
        padding-left: .8rem;
    }
    .THIS .slds-modal__container{
        right: 0;
    }
    .THIS .search-button, .THIS .help-btn{
        margin:0.2rem;
    }
    .THIS .form-details.slds-m-around_medium{
        margin:0;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For Ipad landscape layouts only */
    .THIS .form-details.slds-m-around_medium {
        margin: 0 0 0 1rem;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For Ipad portrait layouts only */
    .THIS .closeBtn {
        margin-top: 1rem;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    .THIS .closeBtn {
        margin-top: 1rem;
    }
}