.THIS.footer-wrapper{
    bottom: -4rem;
    background: t(RENeutralBeta);
    color: t(REWhite);
    font-size:t(RESize18);
} 
.THIS .footerMenu{
    color: t(REFooterText); 
    padding: .769rem 2rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.THIS .footerPolicy{
    background: t(REPrimary);
    color: t(REPrimary);
}
.THIS .footerMenu a{
    color: t(REWhite);
}
.THIS .col-head{
    font-weight: t(REWeightBold);    
}
.THIS .footer-content{
    border-left: t(REPrimary) 0.5px solid;
    padding-left: 1rem;
    min-height: 7rem;
}
.THIS .footer-policy {
    border-top: t(REPrimary) 0.5px solid;
}
.THIS .footerLogo{
    border-radius: 0;
    color: t(REFooterText);
    font-size: 1.5rem;
    font-weight: bold;
}
.THIS .logoWidth{
    width: 1.5rem;
    padding: 1px 1px 1px 3px;
    height: 0px;
    cursor:pointer;
}
.THIS .footerKynectText{
    background-color: rgb(22, 50, 92);
    padding: 15px 0px 15px 0px;
   font-weight: normal;
   font-size: 16px;
}
.THIS .hyperlinkCls{
    text-decoration: underline;
    color: white;
}
.THIS .mobileFooter{
    color: white;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
}
.THIS .mobileFooterKynectLink{
    color: white;
    font-size: 12px;
    padding: 10px 0px 0px 0px;
}
.THIS .gotoText{
    font-size:12px;
    padding: 10px 0px 5px 0px;
}
.THIS .socialMediaLogo img {
    height: 1.5rem;
}
.THIS .footerLogoSection .logo img{
    cursor: pointer;
}
/* Mobile Classes */
.THIS.mobile-footer-wrapper{
    background-color:t(RESecondaryBeta);
    bottom: -4rem;
}
.THIS.mobile-footer-wrapper .mobile-footer-menu a{
    font-size:t(RESizept8);
    color:t(REWhite);
}
.THIS .slds-col-term{
    flex: 1 1 auto;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    width: 33.33%;
}
.THIS .pipe_divider{
    float:left;
    display:block; 
    margin:0; 
    padding:0 10px; 
    border-left:#ccc solid 1px;
   
} 
.THIS .language_options_size {
     font-size:t(RESize14);
}
@media all and (max-width : 768px) {
    .THIS .slds-list_horizontal{
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
    }
    .THIS li.slds-m-around_medium {
        margin: 0.5rem;
    }
    .THIS .logo{
        text-align: center;
    }
    .THIS .footerLogoSection{
        text-align: center;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
     /* For Ipad portrait layouts only */
    .THIS.footer-wrapper{
        bottom: -11rem;
    }  
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    /* For Ihone6 portrait layouts only */
    .THIS .footerMenu .slds-list_horizontal {
        flex-direction: column;
    }
    .THIS .footerMenu .slds-list_horizontal li{
        margin-bottom: 0.5rem;
    }
    .THIS.footer-wrapper{
        bottom: -14rem;
    } 
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .THIS.footer-wrapper{
        bottom: -7rem;
    }
}