.THIS.slds-visual-picker input:checked~label .slds-visual-picker__icon{
    background: none;
    position: relative;
    min-height: 5rem;
    border: 0;
    box-shadow: none;
}
.THIS.slds-visual-picker input:checked~label .slds-is-not-selected{
    opacity: 0.2;
    display: inherit
}
.THIS.slds-visual-picker_medium .slds-visual-picker__figure{
    box-shadow: none;
    border: 0;
    width: 11rem;
    height: 6rem;
}
.THIS.slds-visual-picker input:checked~label .slds-is-selected .slds-icon_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.THIS .slds-visual-picker__body{
    background: t(REPrimary);
    width: 11rem;
}
.THIS .slds-visual-picker__body .slds-text-title{
    color: t(REWhite);    
}
.THIS.slds-visual-picker{
    margin:0 0.1rem;
}
.THIS.slds-visual-picker input:not(:disabled)~label:hover .slds-visual-picker__figure{
    border: none;
    box-shadow: none;
}
.THIS .slds-icon_container img{
    width: 11rem;
    height: 6rem;
}
.THIS.hoverBorder {
    border: 0.0625rem solid transparent;
}
.THIS.hoverBorder:hover {
    border: 0.0625rem solid t(REPrimary);
}
/*Media Query for iPhone 6/7/8*/
@media only screen and (max-device-width: 667px) 
    and (-webkit-device-pixel-ratio: 2) {
    .THIS .slds-icon_container img{
        width: 9.5rem;
    }
    .THIS .slds-visual-picker__body{
        background: t(REPrimary);
        width: 9.5rem;
        padding: 0.25rem 0 0.25rem 0;
    }
    .THIS.slds-visual-picker_medium .slds-visual-picker__figure{
        width: 9.5rem;
    }
    .THIS.hoverBorder{
        margin-bottom: 1rem;
    }
    .THIS.slds-visual-picker{
        margin:0;
    }
}
/*Media Query for iPhone 6+/7+/8+*/
@media screen and (min-device-width : 414px) 
    and (-webkit-device-pixel-ratio: 3){
    .THIS .slds-icon_container img{
        width: 10.7rem;
    }
    .THIS .slds-visual-picker__body{
        background: t(REPrimary);
        width: 10.7rem;
        padding: 0.25rem 0 0.25rem 0;
    }
    .THIS.slds-visual-picker_medium .slds-visual-picker__figure{
        width: 10.7rem;
    }
    .THIS.hoverBorder{
        margin-bottom: 1rem;
    }
    .THIS.slds-visual-picker{
        margin:0;
    }
}
/*Media Query for iPhone X*/
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    .THIS .slds-icon_container img{
        width: 9.5rem;
    }
    .THIS .slds-visual-picker__body{
        background: t(REPrimary);
        width: 9.5rem;
        padding: 0.25rem 0 0.25rem 0;
    }
    .THIS.slds-visual-picker_medium .slds-visual-picker__figure{
        width: 9.5rem;
    }
    .THIS.hoverBorder{
        margin-bottom: 1rem;
    }
    .THIS.slds-visual-picker{
        margin:0;
    }
}

/*Media Query for iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
    .THIS .slds-icon_container img{
        width: 9.5rem;
    }
    .THIS .slds-visual-picker__body{
        background: t(REPrimary);
        width: 9.5rem;
        padding: 0.25rem 0 0.25rem 0;
    }
    .THIS.slds-visual-picker_medium .slds-visual-picker__figure{
        width: 9.5rem;
    }
    .THIS.hoverBorder{
        margin-bottom: 1rem;
    }
    .THIS.slds-visual-picker{
        margin:0;
    }
}