.THIS .org-search-input svg {
    left:unset;
    right:0.75rem;
}
@media all and (max-width : 1024px) {
    .THIS .reource-select-cont{
        padding-right:0.75rem;
    } 
}
.THIS .favorite-container{
    border: 1px t(RElightGreyOpacity) solid;
    border-radius: 0.3rem;
    background: t(REMyPlanRBG);
    padding: 0.3rem;
    margin-right:0;
}
.THIS .favorite-container img{
    width: 1.5rem;
}
.THIS .select-favorite .slds-form-element .slds-form-element__label{
    display:none;
}
/*.THIS .select-favorite .slds-form-element{
width: 93%;
padding: 0 0.5rem 0 0;
}*/

/*.THIS .select-favorite{
margin-top:1.7rem;
}*/
.THIS .select-favorite .slds-select_container:after{
    border-top: .4rem solid t(REPrimary);
}
.THIS .select-favorite .slds-select{
    border: none;
}
.THIS .slds-select[disabled]{
    color: t(REDimGrey);
}
.THIS .flex-end {
    justify-content: flex-end;
    border-bottom: .063rem solid t(REGreyFieldBorder);
}
.THIS .select-favorite .slds-form-element{
    margin: 0 0 0 20%;
    width: 76%;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For Ipad landscape layouts only */
    .THIS .select-favorite .slds-form-element{
        margin: 0 0 0 0;
    }
    .THIS .select-favorite .slds-form-element{
        width: 94%;
    }
}
@media only screen and (min-device-width : 414px) and (max-device-width : 896px) and (orientation : landscape) {
    /*Iphone XR landscape*/
    .THIS .select-favorite {
        width: 28%;
    }
    .THIS .select-favorite .slds-select_container:after {
        bottom: calc((2.3rem / 2) - 0.125rem);
}
.THIS .select-favorite .slds-form-element{
    width: 95%;
}
}
@media only screen and (min-device-width : 414px) and (max-device-width : 896px) and (orientation : portrait) {
    /*Iphone XR portrait*/
    .THIS .select-favorite .slds-form-element{
    width: 86%;
}
}
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) { 
    /* iPhone X */
    .THIS .select-favorite {
        width: 31%;
    }
    .THIS .select-favorite .slds-select_container:after {
        bottom: calc((2.3rem / 2) - 0.125rem);
}
.THIS .select-favorite .slds-form-element{
    width: 100%;
}
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 
    /* For iPhone portrait */ 
    .THIS .select-favorite .slds-form-element{
        margin: 0 0 0 0;
    }
    .THIS .flex-end {
        justify-content: unset;
    }
    .THIS .select-favorite .slds-select_container .slds-select{
        padding-left: 0;
    }
    .THIS .select-favorite .slds-select_container:after {
        bottom: calc((2.3rem / 2) - 0.125rem);
}
.THIS .select-favorite .slds-form-element{
    width: 96%;
}
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { 
    /* For iPhone landscape */ 
    .THIS .flex-end {
        justify-content: unset;
    }
    .THIS .select-favorite .slds-select_container .slds-select{
        padding-left: 0;
    }
    .THIS .select-favorite {
        width: 36%;
    }
    .THIS .select-favorite .slds-select_container:after {
        bottom: calc((2.3rem / 2) - 0.125rem);
}
.THIS .select-favorite .slds-form-element{
    width: 100%;
}
}