.THIS [role="listbox"] .slds-listbox{
    margin-top:0;
}
.THIS .slds-combobox__form-element .haserror {
    border-color: t(RESemanticRed);
    border-width: 0.125rem;
}
.THIS .item-name:focus{
    outline:none;  
}