.THIS .slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action .slds-badge,
.THIS .slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action:hover .slds-badge,
.THIS .slds-nav-vertical__action:hover .slds-badge{
    color: t(REWhite);
    font-weight: normal;
}
.THIS .slds-nav-vertical__item .slds-nav-vertical__action .slds-badge{
    background: none;
    font-size:t(RESize16);
    font-weight:t(REWeightNormal);
}
.THIS .headingContainer{
    margin: 0;
}
.THIS .resourceSection, .THIS .privacySettings{
    box-shadow: 2rem 0 0 0 t(REMyPlanRBG);
    background: t(REMyPlanRBG);
    min-height: 40rem;
}
.THIS .planMapSection{
    position: relative;
}
.THIS .rightPadding{
    padding-right: 1.3rem;
}
.THIS .showAllLocation{
    position: absolute;
    left: 0.8rem;
    top: 1.8rem;
    margin: 0.5rem 0 0 0; 
}

@media all and (max-width : 1268px) {
   /* .THIS .mapIframe, .THIS .planMapSection{
        width: 100%;
    }   
    .THIS .planCardSection{
        width: 100%;
        padding: 0;
    }   */
}
@media all and (max-width : 768px) {
    .THIS .myPlanLeftTab, .THIS .sizingMediaWidth{
        width: 100%;
    }
}

/* Mobile Design*/
.THIS .Myplan-Banner{
    position: relative;
}
.THIS .Myplan-Banner img {
    width: 100%;
}
.THIS.my-plan .overlaySlider{
    color: t(REWhite);
    position: absolute;
    top: 11rem;
}
.THIS .banner-titleSize{
    font-size: 1.125rem;
    line-height: 1;
}
.THIS .bannerText{
    font-size: 2.125rem;
    font-family: ProductSans-Regular;
}
.THIS .nav-btn {
    width: 23%;
    font-size: 11px;
    padding: 0 0.2rem 0 0.2rem;
    margin-right: 1.42%;
}
.THIS .nav-btn-privacy {
    /*padding: 0 .4rem 0 .4rem;*/
    margin-right: 0;
}
/*.THIS .overlaySlider .action-btns .slds-button_neutral {
    color: t(REWhite);
    background: transparent;
    border-color: t(REWhite);
    padding: 0 0.5rem 0 0.5rem;
}*/
.THIS .overlaySlider .action-btns .slds-button_neutral:hover {
    cursor: pointer;
}
.THIS .overlaySlider .action-btns .slds-icon {
   /* height: 2rem;
    width: 1.5rem; */
}
.THIS .nav-active {
    background: t(RESecondaryAlpha);
    color: t(REWhite);
    border-color: t(RESecondaryAlpha);   
}
.THIS .overlaySlider .action-btns .flex-end {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-device-width : 414px) and (max-device-width : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
    /*Iphone XR*/
    .THIS.my-plan {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        top: -0.5rem;
    }
    .THIS .resourceSection{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .THIS .planCardSection{
        padding: 0;
    }
    .THIS .nav-btn {
        width: 23.5%;
    }
    .THIS.my-plan .overlaySlider{
        top: 34rem;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) { 
    /* iPhone X */
    .THIS.my-plan {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        top: -0.5rem;
    }
    .THIS .resourceSection{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .THIS .planCardSection{
        padding: 0;
    }
    .THIS .nav-btn {
        width: 23.5%;
    }
    .THIS.my-plan .overlaySlider{
        top: 30rem;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    /*Iphone 6,7,8*/
    .THIS .privacySettings > div {
        padding-left: 17px;
        padding-right: 17px;
    }
    .THIS.my-plan {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        top: -0.5rem;
    }
    .THIS .resourceSection{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .THIS .planCardSection{
        padding: 0.5rem 0 0 0;
    }
    .THIS .nav-btn {
        width: 23%;
    }
    .THIS .bannerText{
		line-height: 2.5rem;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .THIS.my-plan .overlaySlider{
        top: 24rem;
    }
    .THIS .nav-btn {
        margin-right: 2%;
    }
    .THIS .nav-btn-privacy {
        margin-right: 0;
    }
    .THIS .planCardSection{
        padding: 0;
    }
    .THIS.my-plan {
        position: relative;
        top: -0.5rem;
    }
}
.THIS .headingContainer + div .cRE_AssessmentQuestions{
    padding-top: 0;
}