.THIS ul{
    list-style:unset;
}
.THIS .list-sharing ul{
    list-style: none;
    font-size: t(RESize16);
}

@media only screen and (min-width:48rem){
    .THIS .btn-optout{
        width:15%;
    }
}
@media only screen and (min-width:842px){
    .THIS .contact-container{
        padding-right: 5rem;   
    }
    .THIS .profile-border, .THIS .profile-container .headingL2{
        padding-left: 7rem;
    }
    .THIS .profile-border{
        border-left: 0.05rem solid t(REGreyFieldBorder);
    }
}
@media only screen and (max-width:841px){
    .THIS .profile-container{
        margin-top: 2rem;   
    }
    .THIS .profile-border{
        border-left: none;
    }
}

.THIS .action-required{
    background:t(RESemanticRed);
    color:t(REWhite);
    font-size:t(RESize18);
    border-radius:0.4rem;
    font-weight:t(REWeightBold);
}
.THIS .access-request td {
    min-height: 3.03125rem;
    /*display: flex;
    align-items: center;*/
}
.THIS .text-align-center {
   /* justify-content: center;*/
   text-align:center;
}

/* Mobile Design */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    /*Iphone 6,7,8*/
    .THIS .generic-table-custom {
       overflow-x: auto;
    }
    .THIS .font-weight-mobile {
        font-weight:t(REWeightBold);
    }
    .THIS .profile-container{
        margin-top: 0rem;   
    }
    .THIS .heading-container .headingL1 {
        font-size: 1.5rem;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) { 
    /* iPhone X */
    .THIS .profile-container{
        margin-top: 0;   
    }
}
.THIS .btn-optout + .consent-text{
    margin-top: 0.59rem;
}