.ssp-programSelectionNavBar {
    padding: 10px 0;
}

.ssp-programSelectionNavBar span {
    margin-left: 14.24%;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.3px;
    text-align: left;
}

.ssp-programSelectionTitle {
    font-size: 2.625rem;
    line-height: 3rem;
    text-align: left;
    margin: 60px 0 10px 0;
}

.ssp-programSelectionLearnMore {
    font-size: 0.8125rem;
    line-height: 1.875rem;
    letter-spacing: -0.3px;
    text-align: left;
    text-decoration: underline;
}

.ssp-programSelectionHr {
    height: 5px;
    width: 100%;
    border-radius: 2.5px;
    margin: 15px 0 1.875rem 0;
}

.ssp-programSelectionIntro {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.3px;
    text-align: left;
    margin-bottom: 1.875rem;
}

.ssp-programSelectionIntro p:first-of-type {
    margin-bottom: 1.5rem;
}

.ssp-programSelectionFooterBtn {
    margin-top: 6.25rem;
    margin-bottom: 3.75rem;
}

.ssp-firstGroupBtn {
    margin-right: 4%;
}
.ssp-firstGroupBtn,
.ssp-secondGroupBtn {
    width: 48%;
}

@media only screen and (max-width: 768px) {
    .ssp-programSelectionTitle {
        font-size: 1.5rem;
        line-height: 3rem;
        text-align: left;
        margin: 1.875rem 0 5px 0;
    }

    .ssp-programSelectionFooterBtn .ssp-footerBtnNext {
        margin-bottom: 1.875rem;
    }
}